<footer class="main-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-4">
                <div class="footer__brand">
                    <img src="../images/brands/bmf-white.png" alt="Logomarca BMF na cor branca"></div>
                </div>
            </div>

            <div class="col-lg-4 d-flex justify-content-center flex-column">
                <div class="footer__info text-center">
                    <p>
                        <strong>BMF Ocupacional</strong>
                    </p>
                    <p>Avenida Washington Luís, 1832 - Jardim América</p>
                    <p>
                        Sorocaba/SP - CEP: 18046-700</p>
                    <p>(15) 3217-7109 / (15) 3217-5482 / (15) 3346-1463</p>
                </div>
            </div>

            <div class="col-lg-4">
                <p>BMF Ocupacional © 2019. Todos os direitos reservados</p>
            </div>

        </div>
    </div>
</footer>