<nav class="main-nav">
    <div class="container position-relative">

        <a role="button" href="#" class="main-nav__area-cliente">
            <span class="far fa-user mr-2" aria-hidden="true"></span>Área do cliente
        </a>

        <div class="main-nav__content">
            <div class="main-nav__brand">
                <img src="../images/brands/bmf.png" alt="Logomarca BMF">
            </div>

            <ul class="main-nav__list">
                <li class="main-nav__item active">
                    <a href="../pages/index.html">Inicial</a>
                </li>
                <li class="main-nav__item">
                    <a href="../pages/sobre.html">Sobre a BMF</a>
                </li>
                <li class="main-nav__item">
                    <a href="../pages/servicos.html">Serviços</a>
                </li>
                <li class="main-nav__item">
                    <a href="../pages/exame.html">Exame</a>
                </li>
                <li class="main-nav__item">
                    <a href="../pages/clientes.html">Clientes</a>
                </li>
                <li class="main-nav__item">
                    <a href="../pages/links-uteis.html">Links Úteis</a>
                </li>
                <li class="main-nav__item">
                    <a href="../pages/perguntas-frequentes.html">Perguntas Frequentes</a>
                </li>
                <li class="main-nav__item">
                    <a href="../pages/fale-conosco.html">Fale Conosco</a>
                </li>
            </ul>
        </div>
    </div>
</nav>