.main-nav {
    background-color: #fff;
    width: 100%;
    z-index: 5;

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 30px 0 24px;
    }

    &__area-cliente {
        position: absolute;
        right: 0;
        background-color: $color-primary;
        border-radius: 0 0 15px 15px;
        padding: 3px 23px 5px 29px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        color: #fff;
        @include transition();

        &:hover {
            color: #fff;
            background-color: darken($color-primary, 5);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.104);
            @include scale(1.03);
        }

        @media screen and (max-width: $bp-MD) {
            padding: 2px 14px;
            font-size: 9px;
            right: 14px;
        }
    }

    &__brand {

        img {
            width: 200px;

            @media screen and (max-width: $bp-XL) {
                width: 170px;
            }

            @media screen and (max-width: $bp-MD) {
                width: 140px;
            }
        }

    }

    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;

        @media screen and(max-width: $bp-LG) {
            position: absolute;
            padding: 34px 30px 10px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: black;
            right: 150vw;
            top: 0;
            height: 100vh;
            width: 100vw;
            opacity: 0;
            z-index: 10;
            @include transition();

            &.active {
                position: fixed;
                right: 0;
                opacity: 0.97;
            }
        }

        &__close {
            display: none;
            position: absolute;
            right: 30px;
            top: 34px;
            color: #fff;
            font-size: 28px;

            @media screen and (max-width: $bp-LG) {
                display: block;
            }
        }
    }

    &__item {
        position: relative;
        display: block;
        padding: 10px 11px;
        font-size: 16px;
        line-height: 17px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0;
        @include transition();

        @media screen and (max-width: $bp-XL) {
            padding: 10px 9px;
            width: 100%;
            text-align: left;
            font-size: 15px;
        }

        a {
            color: $color-secondary;
            @include transition();
        }

        &:last-child {
            padding-right: 0;
        }

        &.active,
        &:active,
        &:hover {
            a {
                color: $color-primary;
                text-shadow: 0 0 0.65px $color-primary, 0 0 0.65px $color-primary;
            }
        }

        @media screen and(max-width: $bp-LG) {
            font-weight: 300;
            font-size: 15px;
            margin-bottom: 5px;

            a {
                color: #fff;
            }

            &.active,
            &:active,
            &:hover {
                a {
                    letter-spacing: 0.5px;
                    color: #fff;
                    text-shadow: 0 0 0.65px #fff, 0 0 0.65px #fff;
                }
            }
        }

        &:hover {
            .main-nav__dropdown {
                bottom: 0;
                opacity: 1;
                pointer-events: all;

                @media screen and (max-width: $bp-LG) {
                    max-height: 1000;
                }
            }
        }

    }

    &__dropdown {
        position: absolute;
        left: 50%;
        bottom: 0;
        padding: 35px 30px 25px 30px;
        background-color: $color-primary;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.208);
        border-radius: 8px;
        transform: translateX(-50%) translateY(100%);
        opacity: 0;
        pointer-events: none;
        z-index: 8;
        min-width: 210px;
        @include transition();

        @media screen and (max-width: $bp-LG) {
            position: relative;
            width: 100%;
            max-height: 0;
            overflow: hidden;
            min-width: unset;
        }

        &:after {
            content: '';
            position: absolute;
            top: -3px;
            left: 50%;
            transform: translateX(-50%) scale(1.6);
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $color-primary;

            @media screen and (max-width: $bp-LG) {
                display: none;
            }
        }

        li {
            width: 100%;
            position: relative;
            padding-left: 20px;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 8px;
            text-align: left;

            &:after {
                content: '\f105';
                font-family: FontAwesome;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            a {
                color: #fff !important;
                @include transition();

                &:hover {
                    text-shadow: 0.5px 0.5px white;
                }
            }
        }
    }

    &__toggler {
        display: none;
        align-items: center;
        font-size: 28px;
        color: $color-primary;

        @media screen and (max-width: $bp-LG) {
            display: flex;
        }
    }
}