.btn-transparent{
    background: none !important;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    
    &:active, &:focus{
        border: none;
        outline: none;
    }
}

.btn-primary{
    min-height: 40px;
    background-color: $color-primary;
    border: 1px solid transparent;
    color: #fff;
    @include transition();

    &:hover{
        background-color: darken($color-primary, 10);
    }
}

.btn-white{

    &--outline{
        padding: 8px 13px;
        background-color: transparent;
        border-radius: 20px;
        border: 2px solid #fff;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.342);
        text-transform: uppercase;
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        @include transition();

        span{
            font-size: 10px;
        }

        &:hover{
            color: black;  
            background-color: #fff;
        }
    }
}