.main-nav {
    background-color: #fff;
    width: 100%;
    z-index: 5;

    @media screen and(max-width: $bp-LG) {
        position: absolute;
        left: 150vw;
        top: 70px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.849);
        @include transition();

        &.active {
            left: 0;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }

    &__area-cliente {
        position: absolute;
        right: 0;
        background-color: $color-primary;
        border-radius: 0 0 10px 10px;
        padding: 3px 14px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        color: #fff;
        @include transition();

        &:hover {
            color: #fff;
            background-color: darken($color-primary, 5);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.104);
            @include scale(1.03);
        }
    }
    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;

        @media screen and(max-width: $bp-LG) {
            flex-direction: column;
        }
    }

    &__item {
        display: block;
        padding: 10px 9px;
        font-size: 16px;
        line-height: 17px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.2px;
        @include transition();

        @media screen and (min-width: 768px) and (max-width: 992px) {
            font-size: 14px;
        }

        a {
            color: $color-secondary;
            @include transition();
        }

        &.active,
        &:active,
        &:hover {
            a {
                color: $color-primary;
                text-shadow: 0 0 0.65px $color-primary, 0 0 0.65px $color-primary;
            }
        }

    }
}